body {
  background-color: #e8ebf3;
  font-family: work-Sans, sans-serif;
  margin: 0px;
}
.div1 {
  width: 450px;
  height: 510px;
  background-color: white;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 7px 3px #4148561f;
  margin-top: 170px;
  border: none;
  border-radius: 7px;
}

.div2 {
  text-align: center;
  padding-top: 1px;
}

.div2 h4 {
  font-size: 30px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.842);
  font-weight: normal;
}

.div2 p {
  color: rgba(0, 0, 0, 0.589);
  margin-top: -29px;
}

.form-group {
  font-size: 17px;
  padding: 5px 16px 14px 16px;
}

.login-lable {
  display: inline;
  color: rgba(0, 0, 0, 0.74);
}

.login-input {
  width: 398px;
  height: 38px;
  position: relative;
  top: -8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-color: rgba(2, 2, 2, 0.267);
  border-radius: 6px;
  border-width: 2px;
  padding-left: 14px;
  margin-top: 14px;
}

.login-input:hover {
  border-color: blueviolet;
}

.login {
  width: 415px;
  height: 46px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  transform: scale(1);
  transition: transform 400ms;
}

.login:hover {
  background-color: rgb(154, 76, 228);
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 400ms;
}

.div3 {
  text-align: center;
  margin-top: 18px;
}

.forgotten {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.493);
}

.forgotten:hover {
  text-decoration: underline !;
  color: rgba(0, 0, 0, 0.822);
}

.login-divider {
  position: relative;
  top: -14px;
  clear: both;
  height: 0;
  margin: 30px 0;
  border-top: 1px solid #eff0f1;
}

.create-account {
  width: 415px;
  height: 46px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  border: none;
  border-radius: 8px;
  margin-top: -19px;
  transform: scale(1);
  transition: transform 400ms;
}

.create-account:hover {
  background-color: rgb(151, 41, 255);
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 400ms;
}

/*----------------------------------*/
/*contact form css*/
/*----------------------------------*/

.contact {
  width: 450px;
  height: 533px !important;
}

.contact-about {
  height: 110px;
}

.contact-submit {
  margin-top: -1px;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*Article page styling*/

header {
  background-color: white;
  height: 80px;
}

.article-header {
  display: inline;
  padding: 20px;
  position: relative;
  top: 10px;
}

.article-header-logo {
  text-decoration: none;
}

.article-header h2 {
  display: inline;
  font-size: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: blueviolet;
  margin-left:25px;
  
}

.article-header2 {
  display: inline;
  float: right;
  position: relative;
  top: 10px;
  margin-right: 40px;
}

.article-login {
  width: 110px;
  height: 42px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid;
  border-color: blueviolet;
  border-radius: 5px;
  background-color: white;
}

.article-account {
  width: 180px;
  height: 42px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid;
  border-color: blueviolet;
  border-radius: 5px;
  background-color: white;
  margin-left: 20px;
}

.article-hover:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

.article-tittle {
  background-color: white;
  margin: 25px 20px 10px 20px;
  padding: 20px 10px;
  font-size: 45px;
  border-radius: 8px;
  text-align: center;
}

.container{
  margin-bottom: 0px;
}

.container div {
  display: inline-block;
  vertical-align: top;
}

.article-link {
  background-color: white;
  width: 24%;
  margin: 30px 20px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  
}

.article-link ul {
  padding-left: 10px;
}

.article-link li {
  background-color: rgb(225, 193, 255);
  margin: 15px;
  height: 27px;
  padding-left: 10px;
  
}



.article-link li:hover {
  background-color: blueviolet;
  color: white;
}

.article-link-link {
  text-decoration: none;
  color: black;
}

.article-body {
  width: 67%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 30px 20px 30px 0px;
  border-radius: 8px;
  padding: 5px 15px;
}

.article-padding{
  padding: 5px 15px 30px 15px;
}

.article-body h2 {
  font-size: 38px;
  color: blueviolet;
  margin-left:50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: underline;
}

.article-body p {
  text-align: justify;
  text-xnt: 50px;
  margin-top: 40px;
}

.article-body li {
  padding-top: 10px;
  margin-left: 20px;
  font-size: 18px;
}

.article-body iframe{
  height:500px;
  width:800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px rgba(137, 43, 226, 0.267);
}

.div4 {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}


/*****  social share  ******/

.social-share{
  float: right;
  margin: -10px 40px 0px 0px !important;
}

.social-share p{
  text-align: center !important;
  font-size: 35px;
  margin-right: 50px;
  margin-top: 2px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.767);
}

.share-link{
  text-align: center;
  margin-top: -25px;
}


.share-link div{
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  background-color: white;
  border: solid blueviolet 2px;
  border-radius: 10px;
  margin-right: 7px;
  margin-bottom: 17px;
  transform: scale(1);
  

}

.share-link div:hover{
  box-shadow: 0px 2px 5px 3px rgba(41, 39, 43, 0.144);
  cursor: pointer;
  transform: scale(1.04);
}


.share-link  img{
width: 29px;
margin-top: 5px;
}

/*************** article react************/

.react{
  float: right;
  margin: 20px 40px 0px 0px !important;
  text-align: center;
}

.react-main{
  display: inline-block;
  margin: 10px 0px 10px 9px;
  background-color: white;
  border-radius: 10px; 
  border: solid 3px  rgba(137, 43, 226, 0.404); 
  transform: scale(1);
  
}


.react-main:hover{
 border-color: blueviolet;
 transform: scale(1.04);
 box-shadow: 0px 2px 5px 3px rgba(41, 39, 43, 0.144);
 transition-duration: 200ms;
}


.like:hover{
  border-color: rgb(43, 137, 226);
 }

.unlike:hover{
  border-color: rgb(14, 90, 161);
 }

.diamond:hover{
  border-color: rgb(241, 190, 19);
 }

.love:hover{
  border-color: rgb(248, 24, 73);
 }

.angry:hover{
  border-color: rgb(182, 14, 14);
 }

 .like div:hover{
  border-color: rgb(43, 137, 226);
 }

.unlike div:hover{
  border-color: rgb(14, 90, 161);
 }

.diamond div:hover{
  border-color: rgb(241, 190, 19);
 }

.love div:hover{
  border-color: rgb(248, 24, 73);
 }

.angry div:hover{
  border-color: rgb(182, 14, 14);
 }


.react-main .react-img{
  width: 50px;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  border: solid;
  background-color: white;
  border-bottom-color: rgba(137, 43, 226, 0.404);
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;
}

.react-img img{
  width: 40px;
  margin-top: 5px;
}

.react-main .react-img:hover{
  
  cursor: pointer;
  background-color: rgba(240, 240, 240, 0.308);
 }

.react-main .react-num{
  width: 50px;
  height: 25px; 
  border-width: 3px;
  border: none;
}








/*********** comment  ***********/
/*
.comment{
  float: right;
  margin: 20px 40px 0px 0px !important;
}

.comment-form .comment-name{
  display: block;
}

.comment p{
  text-align: center !important;
  font-size: 35px;
  margin-right: 50px;
  margin-top: 2px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.767);
}
*/


/*contact*/

.article-contact {
  width: 800px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 5px white;
  border-radius: 10px;
  color: black;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 300px;
}

.contact-us {
  width: 400px;
  height: 70px;
  font-size: 35px;
}

.contact-btn {
  text-decoration: none;
}

/*register-form*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

.register-form {
  margin-top: 20px;
  height: 880px;
}

.register-divider {
  margin-top: 35px;
}

.register-login {
  text-decoration: none;
}

.back-home-link {
  margin-left: 20px;
}

.back-home {
  text-decoration: none;
}

.back-home:hover {
  text-decoration: underline;
  color: rgba(48, 14, 80, 0.801);
}

/*Home page(index.html)*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

/*
body{
  background-color: black;
}

.backgroung-gif{
  width: 830px;
 
}

*/

.background{
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.backgroung-svg {
  width: 500px;
  margin: 150px 0px 0px 50px;
}

.home-welcome {
  font-size: 40px;
  margin: -350px 20px 0px 550px;
}

.home-welcome h1 {
  font-size: 70px;
  color: blueviolet;
  margin: -120px 10px 0px 370px;
}

.home-welcome p {
  font-size: 22px;
  margin-top: -0px;
}

.home-btn {
  width: 250px;
  height: 70px;
  font-size: 35px;
  border: solid 5px blueviolet;
  border-radius: 8px;
  margin-top: 30px;
  margin-right: 30px;
}

.home-btn:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 10px 3px #4148561f;
}

.left-btn {
  margin-left: 80px;
}

.learn-link-btn {
  text-decoration: none;
}


/*** social links****/
/*********************************/
/*********************************/
/*********************************/

.social-link{
  text-align: center;
  margin: 50px 0px 0px 0px;
  
}


.social-link P{
  font-size: 25px;
  margin-bottom: 10px;
  
}


.social-link div{
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  margin-right: 3px;
  margin-top: -30px;

}

.social-link div:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}


.social-link  img{
  width: 29px;
  vertical-align: middle;
}


/****Scrollbar ***/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: blueviolet;
  border-radius: 0px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


